body {
	padding-top: 80px;
	margin: 0; /* This is used to reset any browser-default margins */
}
.title{
	padding-bottom:20px 
}
.page-container {
	margin-inline-start: 100px;
  width: 50%;
  border: 3px solid gray;
  padding: 10px;
}
.buttons-container{
	padding-top:20px
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}